/* [dongfang-supplier-homepage] logo and menu */
/* [dongfang-supplier-homepage] navigation */
.nav-decor-supplier { background-color: rgba(22, 62, 118, 0.8); width: 830px; height: 65px; position: absolute; left: 278px; top: 46px; }

.navigation-ori-shopping { background-color: transparent; width: 780px; height: 76px; position: absolute; left: 285px; top: 41px; }
.navigation-ori-shopping a { display: block; width: 130px; height: 76px; line-height: 71px; text-align: center; color: #a6b0c8; font-size: 23.22px; }
.navigation-ori-shopping a:focus { color: #ffdd00; }

/* [dongfang-supplier-homepage] navigation, [common effect] */
.oriShopping-effect-common { display: none; }
.oriShopping-effect-common img { width: 130px; height: 76px; }

/* [dongfang-supplier-homepage] "back", [common effect] */
.supplier-back-common { display: none; }
.supplier-back-common img { width: 104px; height: 76px; }

/* [dongfang-supplier-homepage] navigation, [specific effect] */
.oriShopping-effect-pos-01 { position: absolute; left: 288px; top: 41px; }

.oriShopping-effect-pos-02 { position: absolute; left: 419px; top: 41px; }

.oriShopping-effect-pos-03 { position: absolute; left: 551px; top: 41px; }

.oriShopping-effect-pos-04 { position: absolute; left: 684px; top: 41px; }

.oriShopping-effect-pos-05 { position: absolute; left: 816px; top: 41px; }

.oriShopping-effect-pos-06 { position: absolute; left: 949px; top: 41px; }

/* [dongfang-supplier-homepage] "back", [specific effect] */
.supplier-back-effect-pos { position: absolute; left: 1113px; top: 41px; }

/* [dongfang-supplier-homepage] title for big image */
.supplier-bigTitle-bgc { background-color: rgba(0, 0, 53, 0.8); width: 569px; height: 45px; position: absolute; left: 355px; top: 448px; }

/* [dongfang-supplier-homepage] big image */
.orient-item-main { overflow: hidden; background-color: transparent; width: 569px; height: 366px; position: absolute; left: 355px; top: 128px; }
.orient-item-main span { display: block; color: #fff; font-size: 22px; text-align: center; margin-top: 0; line-height: 45px; }
.orient-item-main .orient-content-imgOrVideo { width: 569px; height: 320px; }
.orient-item-main img { width: 569px; height: 320px; }

/* [dongfang-supplier-homepage] size for small image */
.orient-item-smallImg { width: 275px; height: 180px; }

/* [dongfang-supplier-homepage] main content */
.supplier-homepage-main a { display: block; width: 275px; height: 180px; border: 3px solid transparent; }
.supplier-homepage-main a:focus { border: 3px solid #c03a19; z-index: 99; }

/* [dongfang-supplier-homepage] position for small image */
.sup-hpage-item-left-1 { position: absolute; left: 61px; top: 125px; }

.sup-hpage-item-left-2 { position: absolute; left: 61px; top: 310px; }

.sup-hpage-item-left-3 { position: absolute; left: 61px; top: 495px; }

.sup-hpage-item-right-1 { position: absolute; left: 937px; top: 125px; }

.sup-hpage-item-right-2 { position: absolute; left: 937px; top: 310px; }

.sup-hpage-item-right-3 { position: absolute; left: 937px; top: 495px; }

.sup-hpage-item-bottom-1 { position: absolute; left: 353px; top: 495px; }

.sup-hpage-item-bottom-2 { position: absolute; left: 646px; top: 495px; }
